.answer_choice {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .answer_choice p {
    margin: 0;
    margin-left: 10px;
    font-size: 16px;
  }
  
  .answer_choice .MuiCheckbox-root {
    margin-right: 10px;
  }

  .whole_question h3{
    text-align: left;
    margin-left: -25px;
  }

  .whole_question{
    text-align: left;
    margin-left: 50px;
  }

  .trivia-intro  h2{
    align-items: center;
    text-align: left;
    margin-bottom: 10px;
    margin-right: 0px;
  }

  .trivia-intro .MuiButton-root {
    display: block;
    margin-top: 25px;
  }


  .trivia-intro {
    align-items: center;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 100px;
  }