.answer_choice {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .answer_choice p {
    margin: 0;
    margin-left: 10px;
    font-size: 16px;
  }
  
  .answer_choice .MuiCheckbox-root {
    margin-right: 10px;
  }

  .answer_choice .MuiButton-root {
    margin: 0px;
    width: 500px;
    height: 100px;
    padding: 0px;
  }

  .whole_question h3{
    text-align: left;
    margin-left: -25px;
  }

  .whole_question{
    text-align: left;
    margin-left: 50px;
    margin-bottom: 50px;
  }

  .trivia-intro  h2{
    align-items: center;
    text-align: left;
    margin-bottom: 10px;
    margin-right: 0px;
  }

  .trivia-intro .MuiButton-root {
    display: block;
    margin-top: 25px;
    margin-bottom: 75px;
    background-color: purple;
  }


  .trivia-intro {
    align-items: center;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 100px;
  }

  .answer-select {
    width: 20px;
    height: 20px;
  }

  .question-text {
    font-weight: bolder;
  }

  .correct {
    color: limegreen;
    font-weight: bolder;
  }
  
  .incorrect {
    color: red;
  }

  .App h1 {
    color: purple;
    text-align: left;
    margin-left: 100px;
  }


  .intro-options {
    border: 1px solid black;
    border-radius: 10px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
  }